<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="may.yuntian.anlian.mapper.FinancialStatisticsMapper">

    <resultMap id="ProjectInfoResult" type="may.yuntian.anlian.entity.ProjectStatistics">
        <result property="projectId" column="id"/>
        <result property="salesmenId" column="salesmenid"/>
        <result property="salesmen" column="salesmen"/>
        <result property="salesmenCompanyOrder" column="salesmenCompanyOrder"/>
        <result property="companyOrder" column="company_order"/>
        <result property="businessSource" column="business_source"/>
        <result property="signDate" column="sign_date"/>
        <result property="totalMoney" column="total_money"/>
        <result property="unsettledAmount" column="unsettledAmount"/>
        <result property="receiptMoney" column="receipt_money"/>
        <result property="invoiceMoney" column="invoice_money"/>
        <result property="shouldInvoiceMoney" column="shouldInvoiceMoney"/>

        <collection property="accountList" javaType="java.util.List" resultMap="AccountResult"/>
    </resultMap>

    <resultMap id="AccountResult" type="may.yuntian.anlian.entity.AccountEntity">
        <result property="id" column="taId"/>
        <result property="acType" column="ac_type"/>
        <result property="happenTime" column="happen_time"/>
        <result property="amount" column="amount"/>
        <result property="invoiceAmount" column="invoice_amount"/>
    </resultMap>

    <select id="selectProjectInfo" resultMap="ProjectInfoResult">
        SELECT ap.id,
        ap.company,
        ap.salesmenid,
        ap.salesmen,
        su.subjection as salesmenCompanyOrder,
        ap.company_order,
        ap.business_source,
        apd.sign_date,
        apa.total_money,
        apa.receipt_money,
        apa.invoice_money,
        IF ( ap.`status` IN ( 40, 50, 60, 70 ) AND ap.bad_debt = 1, apa.nosettlement_money, 0.00 ) AS unsettledAmount,
        IF ( ap.`status` IN ( 40, 50, 60, 70 ), apa.invoice_money, 0.00 ) AS shouldInvoiceMoney,
        ta.id as taId,
        ta.ac_type,
        ta.happen_time,
        ta.amount,
        ta.invoice_amount
        FROM al_project ap
        LEFT JOIN sys_user su ON su.user_id = ap.salesmenid
        LEFT JOIN al_project_date apd ON apd.project_id = ap.id
        LEFT JOIN al_project_amount apa ON ap.id = apa.project_id
        LEFT JOIN t_account ta ON ap.id = ta.project_id
        WHERE ap.salesmenid IS NOT NULL AND ap.company_order IS NOT NULL
        AND apd.sign_date &gt;= #{startTime} AND apd.sign_date &lt;= #{endTime}
        <if test="salesmenId != null ">
            AND ap.salesmenid = #{salesmenId}
        </if>
        <if test="companyOrder != null and companyOrder != ''">
            AND ap.company_order = #{companyOrder}
        </if>
        <if test="businessSource != null and businessSource != ''">
            AND ap.business_source = #{businessSource}
        </if>
    </select>

</mapper>